<!-- Social -->
<div class="social-box">
    <div class="follow-label special-section">
        <span>دنبال کردن من</span>
    </div>
    <div class="social">
        <a href="javascript:void(0);" class=" special-section"><i class="fa fa-facebook"></i></a>
        <a href="javascript:void(0);" class=" special-section"><i class="fa fa-twitter"></i></a>
        <a href="javascript:void(0);" class=" special-section"><i class="fa fa-github"></i></a>
        <a href="javascript:void(0);" class=" special-section"><i class="fa fa-linkedin"></i></a>
    </div>
</div>

<!--   Header Start -->
<header>
    <div class="logo-area">
        <a href="#hero" class="logo special-section">
            <span>ار<span class="base-color">شیا</span></span>
        </a>
    </div>
    <div class="header-info-area">
        <a class="overlay-menu-toggler lni-menu size-md special-section" href="javascript:void(0);"></a>
    </div>
</header>
<!--   Header End   -->

<!--    Overlay Menu Start    -->
<div class="overlay-menu bg-blue py-3 px-4 text-center center-item">
    <!-- Overlay Menu -->
    <div id="scrollspy" class="overlay-menu-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto overlay-nav">
                    <ul class="list-group text-start" id="myMenu">
                        <li data-menuanchor="hero" class="list-group-item"><a href="#hero">خانه</a></li>
                        <li data-menuanchor="about" class="list-group-item"><a href="#about">درباره من</a></li>
                        <li data-menuanchor="services" class="list-group-item"><a href="#services">خدمات</a></li>
                        <li data-menuanchor="portfolio" class="list-group-item"><a href="#portfolio">نمونه کارها</a></li>
                        <li data-menuanchor="client" class="list-group-item"><a href="#testimonial">نظرها</a></li>
                        <li data-menuanchor="blog" class="list-group-item"><a href="#blog">بلاگ</a></li>
                    </ul>
                    <ul class="list-group contact-info text-start mb-0">
                        <li class="list-group-item"><span>اطلاعات تماس :</span></li>
                        <li class="list-group-item"><span><i class="lni-map-marker"></i> شیراز</span></li>
                        <li class="list-group-item"><span><i class="lni-phone-handset"></i> 09171234567</span></li>
                        <li class="list-group-item"><span><i class="lni-envelope"></i> info@example.com</span></li>
                        <li class="list-group-item"><span>دنبال کردن من :</span></li>
                        <li class="list-group-item">
                            <ul class="list-inline socails">
                                <li class="list-inline-item"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="lni-github-original"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    Overlay Menu End    -->