<!-- Social -->
<div class="social-box">
    <div class="follow-label special-section">
        <span>دنبال کردن من</span>
    </div>
    <div class="social">
        <a href="https://instagram.com/mbn.abs" class=" special-section"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/Mobin-Abbasi" class=" special-section"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/mobin-abbasi-7048212b5/" class=" special-section"><i class="fa fa-linkedin"></i></a>
    </div>
</div>

<!--   Header Start -->
<header>
    <div class="logo-area">
        <a href="{% url 'weblog:index' %}" class="logo special-section">
            <b><span>bin<span class="base-color">Mo</span></span></b>
        </a>
    </div>
    <div class="header-info-area">
        <a class="overlay-menu-toggler lni-menu size-md special-section" href="javascript:void(0);"></a>
    </div>
</header>
<!--   Header End   -->

<!--    Overlay Menu Start    -->
<div class="overlay-menu bg-blue py-3 px-4 text-center center-item">
    <!-- Overlay Menu -->
    <div id="scrollspy" class="overlay-menu-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto overlay-nav">
                    <ul class="list-group text-start" id="myMenu">
                        <li data-menuanchor="hero" class="list-group-item"><a href="{% url 'weblog:index' %}#hero">خانه</a></li>
                        <li data-menuanchor="about" class="list-group-item"><a href="{% url 'weblog:index' %}#about">درباره من</a></li>
                        <li data-menuanchor="services" class="list-group-item"><a href="{% url 'weblog:index' %}#services">خدمات</a></li>
                        <li data-menuanchor="portfolio" class="list-group-item"><a href="{% url 'weblog:index' %}#portfolio">نمونه کارها</a></li>
                        <li data-menuanchor="blog" class="list-group-item"><a href="{% url 'weblog:index' %}#blog">بلاگ</a></li>
                    </ul>
                    <ul class="list-group contact-info text-start mb-0">
                        <li class="list-group-item"><span>اطلاعات تماس :</span></li>
                        <li class="list-group-item"><span><i class="lni-map-marker"></i> تهران</span></li>
                        <li class="list-group-item"><span><i class="lni-phone-handset"></i> 09214018144</span></li>
                        <li class="list-group-item"><span><i class="lni-envelope"></i> mobin04dev@gmail.com</span></li>
                        <li class="list-group-item"><span>دنبال کردن من :</span></li>
                        <li class="list-group-item">
                            <ul class="list-inline socails">
                                <li class="list-inline-item"><a href="https://instagram.com/mbn.abs"><i class="lni-instagram-original"></i></a></li>
                                <li class="list-inline-item"><a href="https://github.com/Mobin-Abbasi"><i class="lni-github-original"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/mobin-abbasi-7048212b5/"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    Overlay Menu End    -->