@font-face {
  font-family: "Vazir-FD-WOL";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Vazir-FD-WOL.eot"), url("../fonts/Vazir-FD-WOL.woff2") format("woff2"), url("../fonts/Vazir-Bold-FD-WOL.woff") format("woff"), url("../fonts/Vazir-FD-WOL.ttf") format("truetype");
}

body {
  text-align: right;
  direction: rtl;
  font-family: 'Vazir-FD-WOL', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .title-wrapper {
  font-family: 'Vazir-FD-WOL', sans-serif;
}

.text-left {
  text-align: right !important;
}

.overlay-menu .overlay-menu-list .overlay-nav > ul {
  float: right;
}

.overlay-menu-toggler {
  left: 24px;
  right: inherit;
}

.overlay-nav .list-inline-item:not(:last-child) {
  margin-right: inherit;
  margin-left: 0.5rem !important;
}

#pp-nav li .pp-tooltip {
  transform: translateY(0);
  padding-right: inherit;
  padding-left: 1rem;
}

#pp-nav li .active span {
  transform: translateX(0);
}

#pp-nav li .active ~ .pp-tooltip {
  padding-right: inherit;
  padding-left: 1.5rem;
}

#pp-nav.left {
  left: 27px;
}

.logo {
  margin-left: inherit;
  margin-right: 14px;
  direction: rtl;
}

.social-box {
  left: inherit;
  right: 1.5rem;
}

.hero-03 .square {
  left: inherit;
  right: -10px;
}

.hero-03 h1, .hero-03 h4 {
  direction: rtl;
}

.mfp-counter {
  direction: rtl !important;
}

ul {
  padding-right: 0;
}


.color-switcher .pallet-button {
  left: inherit;
  right: 0;
  border-radius: 16px 0 0 16px;
}

.color-switcher .color-pallet {
  right: 50px;
  left: inherit;
  border-radius: 16px;
}

.hero-06 .square {
  right: -10px;
  left: inherit;
}

.hero-social .list-inline-item:not(:last-child) {
  margin-right: inherit;
  margin-left: 1.5rem;
}

.personal-item ~ .button-border {
  margin-left: 1.5rem;
  margin-right: inherit !important;
}

.services-icon {
  float: right !important;
}

.services .services-content {
  padding-right: 3rem  !important;
  padding-left: inherit !important;
}

.services.colorfull-service .services-content {
  padding-right: 4rem  !important;
  padding-left: inherit !important;
}

.resume h3 i {
  padding-left: 0.75rem;
  padding-right: inherit;
  float: right;
  margin-top: 8px;
}

.timeline-items.colorfull-timeline .timeline-item:before {
  display: none !important;
}

.timeline-items.colorfull-timeline .timeline-border {
  border-right: 2px solid;
  border-left: none !important;
}

.timeline-items.colorfull-timeline .timeline-icon {
  left: inherit !important;
  right: -9px !important;
}

.timeline-contents {
  padding-right: 30px;
  padding-left: inherit;
}

.timeline-item::before {
  right: 0;
  left: inherit;
}

.timeline-icon {
  right: -7px;
  left: inherit;
}

.skill-box .skillbar-title {
  right: -17px;
  left: inherit;
}

.skill-box .skillbar-title span {
  margin-right: 18px;
  margin-left: inherit;
}

.skill-box .skill-bar-percent {
  right: inherit;
  left: 0;
}

.skill-box .fill-skillbar {
  float: right;
}

.language-skill ul {
  text-align: left !important;
}

.language-skill i {
  transform: rotateY(180deg);
  display: inline-block;
}

.language-skill .list-inline-item:not(:last-child) {
  margin-right: inherit;
}

.language-skill .list-inline-item {
  margin-left: 0.5rem;
}

.portfolio .portfolio-icon a:first-child i {
  left: inherit;
  right: -2px;
}

.portfolio .list-inline-item:not(:last-child) {
  margin-left: 0.5rem;
  margin-right: inherit;
}

.blog-content ul {
  padding-right: 0;
}

.blog-content .list-inline-item:not(:last-child) {
  padding-left: 3rem;
  margin-right: inherit !important;
}

.portfolio-single .text-md-left, .blog-single .text-md-left {
  text-align: right !important;
}

.modal-header .btn-close {
  margin: -0.5rem auto -0.5rem -0.5rem;
}

.modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

#message.toast {
  right: 200px;
  left: inherit !important;
}

.contact #message.toast button {
  float: left !important;
}

.contact #message.toast button.pr-3 {
  padding-left: 1rem !important;
  padding-right: inherit !important;
}

.post-sidebar{
  right: inherit;
  left: -320px;
}

.post-sidebar.open{
  right: inherit;
  left: 0;
}

.post-sidebar-toggle{
  right: inherit;
  left: 85px;
}

.search .input-group button {
  right: inherit;
  left: 6px;
}

.aside-title span{
  margin-right: inherit;
  margin-left: 15px;
}

.aside-item ul li a{
  padding-left: inherit;
  padding-right: 12px;
}

.aside-item ul li a:hover {
  padding-left: inherit;
  padding-right: 17px;
}

.blog-single .entry-meta li a i {
  padding-left: 5px;
  padding-right: inherit;
}

.entry-content ul{
  padding-right: 1.5rem;
}

.comment-author, .comment-text {
  margin-right: 80px;
  margin-left: inherit;
}

.comment-reply-link {
  right: inherit;
  left: 0;
}

.reply-comment{
  margin-left: inherit;
  margin-right: 3rem;
}

.blog-single .entry-meta li:not(:last-child) {
  margin-right: inherit;
  margin-left: 0.75rem;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
  padding-right: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0;
  padding-left: 0.5rem;
}

.theme-skin li a.flat-skin{
  margin-right: inherit;
  margin-left: 3px;
}

.color-scheme i {
  transform: rotateY(180deg);
  display: inline-block;
}

@media (max-width: 1199px) {
  .blog-single .post-sidebar-toggle {
    right: inherit;
    left: 77px;
  }
  .post-sidebar-toggle.open {
    left: 0;
  }
}

@media (max-width: 1199px) and (max-width: 767px) {
  .overlay-menu-toggler {
    right: inherit;
    left: 0.5rem;
  }
}

@media (max-width: 991px){
  .blog-single .post-sidebar-toggle {
    right: inherit;
    left: 68px;
  }
  .blog-single .post-sidebar-toggle.open {
    left: 0;
    border-radius: 0;
  }
}

@media (max-width: 576px){
  .reply-comment{
    margin-left: inherit;
    margin-right: 1rem;
  }
  .contact #message.toast {
    position: initial;
    margin-top: 8px;
  }
}