{% extends 'parent/base.html' %}
{% load static %}
{% load jformat %}
{% load weblog_tags %}
{% block title %}{% endblock %}
{% block content %}

    <!--  Pre Loader  -->
    <div id="overlayer"></div>
    <span class="loader"></span>


    <div id="pagepiling" class="pilling-page">

        <!--  Blog Start  -->
        <section id="blog-single" class="section pp-scrollable blog-single b-z-index" data-navigation-tooltip="بلاگ">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 blog">
                                <div class="rounded">
                                    <div class="text-md-start">
                                        <h1 class="mb-4 h4">{{ blog.title }}</h1>
                                        <div class="entry-image image-border mb-4">
                                            <img src="{{ blog.blog_images.first.image.url }}" alt="{{ blog.blog_images.first.image.url }}">
                                        </div>
                                        <div class="entry-content box-border p-3">
                                            <p class="my-3">{{ blog.description | linebreaks}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--   Aside Start   -->
                            <aside class="post-sidebar">
                                <!-- Toggler Button -->
                                <div class="post-sidebar-toggle">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="post-sidebar-content">
                                    <!-- Search -->
                                    <div class="search">
                                        <form action="#" role="search" method="get">
                                            <div class="position-relative  input-group mb-3">
                                                <input type="text" placeholder="کلمات کلیدی خود را وارد کنید..." id="search" name="s">
                                                <button type="submit" id="searchsubmit" class="btn"><i class="fa fa-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Recent Posts -->
                                    {% latest_blog %}
                                    <!-- Categories -->
                                    <div class="aside-contents">
                                        <div class="aside-title">
                                            <span class="base-color">دسته بندی</span>
                                        </div>
                                        <div class="aside-item">
                                            <ul class="list-unstyled mb-0">
                                                <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category'  'زبان برنامه نویسی'%}">زبان برنامه نویسی</a></li>
                                                <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'طراحی سایت' %}">طراحی سایت</a></li>
                                                <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'سئو' %}">سئو</a></li>
                                                <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'UI و UX' %}">UI و UX</a></li>
                                                <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'سایر' %}">سایر</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <!--   Aside End   -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--   Blog End   -->

    </div>

    <!--  JavaScripts  -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--  Bootstrap Js  -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!--  Page Pilling Js  -->
    <script src="{% static 'js/pagePiling.js' %}"></script>
    <!--  Easing Js  -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!--  CountTo Js  -->
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <!--  Typed Js  -->
    <script src="{% static 'js/typed.js' %}"></script>
    <!--  Magnific Popup Js  -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!--  Isotope Js  -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!--  Owl Carousel Js  -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!--  Custom JS  -->
    <script src="{% static 'js/arshia-rtl.js' %}"></script>

{% endblock %}