{% extends 'parent/base.html' %}
{% load static %}
{% block title %}نمونه کار ها{% endblock %}
{% block content %}

    <!--  Pre Loader  -->
    <div id="overlayer"></div>
    <span class="loader"></span>

    <div id="pagepiling" class="pilling-page">

        <!--  Blog Start  -->
        <section id="blog" class="section pp-scrollable blog pt-5" data-navigation-tooltip="بلاگ">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-content mb-4">
                                    <p class="mb-0">آخرین بلاگ ها</p>
                                    <h2 class="base-color">نوشته های اخیر من</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--  Item 01 -->
                            <div class="col-lg-4">
                                <div class="blog-item box-border">
                                    <div class="blog-image">
                                        <div class="blog-intro">
                                            <img src="assets/img/blog-01.jpg" alt="/">
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="list-inline mt-4">
                                            <li class="list-inline-item">
                                                <i class="lni-calendar data-text-color" data-color="#ff5380"></i>
                                                <span class="text-muted">21 مهر 1401 </span>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="lni-comment data-text-color" data-color="#fbdd62"></i>
                                                <span class="text-muted">5</span>
                                            </li>
                                        </ul>
                                        <h6 class="mb-3"><a class="text-dark" href="blog-single-rtl.html"> بهترین خودت باش</a></h6>
                                        <p class="text-dark">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                        <div class="blog-link">
                                            <a class="base-color" href="blog-single-rtl.html">ادامه مطلب...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--   Blog End   -->

        <!--   Aside Start   -->
        <aside class="post-sidebar">
            <!-- Toggler Button -->
            <div class="post-sidebar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="post-sidebar-content">
                <!-- Search -->
                <div class="search">
                    <form action="#" role="search" method="get">
                        <div class="position-relative  input-group mb-3">
                            <input type="text" placeholder="کلمات کلیدی خود را وارد کنید..." id="search" name="s">
                            <button type="submit" id="searchsubmit" class="btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <!-- Recent Posts -->
                <div class="aside-contents">
                    <div class="aside-title">
                        <span class="base-color">نوشته های اخیر</span>
                    </div>
                    <div class="aside-item">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">بهترین خودت باش</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#"> 5 نکته در طراحی UI/UX</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">رویاهات رو بنویس</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">یادگیری HTML5 و CSS3 در 5 روز</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">کدام بهتر است؟ React یا Vue؟</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Recent Comments -->
                <div class="aside-contents">
                    <div class="aside-title">
                        <span class="base-color">نظرات اخیر</span>
                    </div>
                    <div class="aside-item">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">نکات مفیدی بود!</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">3 راه برای دانستن اینکه کدام یک بهتر است وجود دارد؟ من می گویم Vue</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">با تشکر از آموزش Html 5 و Css 3 شما که عالی بود.</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Categories -->
                <div class="aside-contents">
                    <div class="aside-title">
                        <span class="base-color">دسته بندی</span>
                    </div>
                    <div class="aside-item">
                        <ul class="list-unstyled mb-0">
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="#">توسعه</a></li>
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="#">طراحی لوگو</a></li>
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="#">UI و UX</a></li>
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="#">طراحی وب</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Archives -->
                <div class="aside-contents">
                    <div class="aside-title">
                        <span class="base-color">بایگانی</span>
                    </div>
                    <div class="aside-item">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">آذر 1401</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">مهر 1401</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">شهریور 1401</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">مرداد 1401</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Tags -->
                <div class="aside-contents">
                    <div class="aside-title">
                        <span class="base-color">برچسب ها</span>
                    </div>
                    <div class="aside-item blog-single-tag mb-0">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">CSS3</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">HTML5</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">طراحی وب</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!--   Aside End   -->

    </div>

    <!--  JavaScripts  -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--  Bootstrap Js  -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!--  Page Pilling Js  -->
    <script src="{% static 'js/pagePiling.js' %}"></script>
    <!--  Easing Js  -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!--  CountTo Js  -->
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <!--  Typed Js  -->
    <script src="{% static 'js/typed.js' %}"></script>
    <!--  Magnific Popup Js  -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!--  Isotope Js  -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!--  Owl Carousel Js  -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!--  Custom JS  -->
    <script src="{% static 'js/arshia-rtl.js' %}"></script>

{% endblock %}