{% extends 'parent/base.html' %}
{% load static %}
{% load jformat %}
{% block title %}اخرین بلاک ها{% endblock %}
{% block content %}

    <!--  Pre Loader  -->
    <div id="overlayer"></div>
    <span class="loader"></span>

    <div id="pagepiling" class="pilling-page">

        <!--  Blog Start  -->
        <section id="blog" class="section pp-scrollable blog pt-5" data-navigation-tooltip="بلاگ">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-content mb-4">
                                    <p class="mb-0">آخرین بلاگ ها</p>
                                    <h2 class="base-color">نوشته های اخیر</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--  Item 01 -->
                            {% for blog in blogs %}
                            <div class="col-lg-4">
                                <div class="blog-item box-border">
                                    <div class="blog-image">
                                        <div class="blog-intro">
                                            <img src="{{ blog.blog_images.first.image.url }}" alt="{{ blog.blog_images.first.image.title }}">
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="list-inline mt-4">
                                            <li class="list-inline-item">
                                                <i class="lni-calendar data-text-color" data-color="#ff5380"></i>
                                                <span class="text-muted">{{ blog.created | jformat:'%Y/%m/%d'}} </span>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="lni-comment data-text-color" data-color="#fbdd62"></i>
                                                <span class="text-muted">5</span>
                                            </li>
                                        </ul>
                                        <h6 class="mb-3"><a class="text-dark" href="{% url 'weblog:blog_detail' blog.id %}">{{ blog.title }}</a></h6>
                                        <p class="text-dark">{{ blog.description | truncatewords:20 }}</p>
                                        <div class="blog-link">
                                            <a class="base-color" href="{% url 'weblog:blog_detail' blog.id %}">ادامه مطلب...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--   Blog End   -->

        <!--   Aside Start   -->
        <aside class="post-sidebar">
            <!-- Toggler Button -->
            <div class="post-sidebar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="post-sidebar-content">
                <!-- Search -->
                <div class="search">
                    <form action="#" role="search" method="get">
                        <div class="position-relative  input-group mb-3">
                            <input type="text" placeholder="کلمات کلیدی خود را وارد کنید..." id="search" name="s">
                            <button type="submit" id="searchsubmit" class="btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <!-- Recent Posts -->
                <div class="aside-contents">
                    <div class="aside-title">
                        <span class="base-color">نوشته های اخیر</span>
                    </div>
                    <div class="aside-item">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">بهترین خودت باش</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#"> 5 نکته در طراحی UI/UX</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">رویاهات رو بنویس</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">یادگیری HTML5 و CSS3 در 5 روز</a></li>
                            <li><i class="fa fa-circle-o base-color"></i><a href="#">کدام بهتر است؟ React یا Vue؟</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Categories -->
                <div class="aside-contents">
                    <div class="aside-title">
                        <span class="base-color">دسته بندی</span>
                    </div>
                    <div class="aside-item">
                        <ul class="list-unstyled mb-0">
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'زبان برنامه نویسی' %}">زبان برنامه نویسی</a></li>
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'طراحی سایت' %}">طراحی سایت</a></li>
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'سئو' %}">سئو</a></li>
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'UI و UX' %}">UI و UX</a></li>
                            <li class="cat-item"><i class="fa fa-circle-o base-color"></i><a href="{% url 'weblog:blog_list_category' 'سایر' %}">سایر</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!--   Aside End   -->

    </div>

    <!--  JavaScripts  -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--  Bootstrap Js  -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!--  Page Pilling Js  -->
    <script src="{% static 'js/pagePiling.js' %}"></script>
    <!--  Easing Js  -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!--  CountTo Js  -->
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <!--  Typed Js  -->
    <script src="{% static 'js/typed.js' %}"></script>
    <!--  Magnific Popup Js  -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!--  Isotope Js  -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!--  Owl Carousel Js  -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!--  Custom JS  -->
    <script src="{% static 'js/arshia-rtl.js' %}"></script>

{% endblock %}