{% extends 'parent/base.html' %}
{% load static %}
{% load jformat %}
{% block title %}خانه{% endblock %}
{% block content %}

    <!--  Pre Loader  -->
    <div id="overlayer"></div>
    <span class="loader"></span>

    <div id="pagepiling" class="pilling-page">


        <!--    Hero Start    -->
        <section class="section pp-scrollable hero hero-06 full-screen p-0 speacial-hero" id="hero" data-navigation-tooltip="خانه">
            <div class="container-fluid">
                <div class="text-center hero-content">
                    <div class="col-lg-12">
                        <div class="hero-content text-center">
                            <h3 class="text-white mb-0 mt-3">من مبین عباسی هستم</h3>
                            <h1 class="text-white text-capitalize mb-3"><span class="base-color">یک  </span> <span class="element" data-elements="توسعه دهنده وب.,متخصص سئو.,طراح سایت."></span></h1>
                            <p class=" mx-auto mt-4 text-white">غیر ممکن هارا با ما تجربه کنید</p>
                        </div>
                    </div>
                </div>
                <div class="scroll-down">
                    <a href="{% url 'weblog:index' %}#about">
                        <span></span>
                    </a>
                </div>
            </div>
        </section>
        <!--    Hero End    -->

        <!--   About Start   -->
        <section id="about" class="section pp-scrollable about" data-navigation-tooltip="درباره من">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>درباره من</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">درباره من</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="image-border">
                                    <img src="{% static 'img/man.png' %}" alt="/">
                                </div>
                            </div>
                            <div class="col-lg-6 mt-4 mt-lg-0">
                                <div class="personal-item ">
                                    <h3 class="text-dark mt-4 mt-lg-0"><span class="base-color">توسعه سایت </span>  سئو و طراحی</h3>
                                    <div class="row">
                                        <div class="col-6 personal-info">
                                            <ul class="list-unstyled pt-4">
                                                <li>
                                                    <p>تاریخ تولد : <span> آبان 1383</span></p>
                                                </li>
                                                <li>
                                                    <p>تلفن : <span> 09214018144</span></p>
                                                </li>
                                                <li>
                                                    <p>شهر : <span> تهران</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6 personal-info">
                                            <ul class="list-unstyled pt-4">
                                                <li>
                                                    <p>سن : <span> 19</span></p>
                                                </li>
                                                <li>
                                                    <p>ایمیل : <span> mobin04dev@gmail.com</span></p>
                                                </li>
                                                <li>
                                                    <p>فریلنس : <span> امکان پذیر</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-border mt-3 mb-lg-0 me-4">
                                    <a href="javascript:void(0);" class="pill-button">دانلود رزومه</a>
                                </div>
                                <div class="button-border mt-3 mb-lg-0 to-contact">
                                    <a href="{% url 'weblog:index' %}#contact" class="pill-button">استخدام من</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--    About End    -->

        <!--    Resume Start   -->
        <section id="resume" class="section resume pp-scrollable" data-navigation-tooltip="رزومه من">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>رزومه من</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">رزومه من</h2>
                                </div>
                            </div>
                        </div>
                        <!--    TimeLine Start   -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="resume-title text-center">
                                    <h3 class="text-dark">تحصیلات</h3>
                                    <div class="border-style"></div>
                                </div>
                                <div class="timeline-items box-border">
                                    <!--    Item 01   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">کارشناسی ارشد علوم کامپیوتر</h6>
                                                <p class="timeline-year">1391 - 1394</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-5 mt-lg-0">
                                <div class="resume-title text-center">
                                    <h3 class="text-dark">تجربیات</h3>
                                    <div class="border-style"></div>
                                </div>
                                <div class="timeline-items box-border">
                                    <!--    Item 01   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">توسعه دهنده وب</h6>
                                                <p class="timeline-year">1401 - تاکنون</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p> برنامه نویسی رو با Python شروع کردم و بعد از برطرف کردن پیش نیاز ها وارد حوزه Django شدم و همچنان در حال ارتقای مهارت های خودم تو این زمینه هستم تا بهترین خروجی رو برای مشتریان داشته باشم</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--    Item 02   -->
                                    <div class="timeline-item">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">متخصص سئو</h6>
                                                <p class="timeline-year">1402 - تا کنون</p>
                                            </div>
                                            <div class="timeline-content">
                                                <p>از تابستون سال 1402 شروع کردم به یادگیری مبحث SEO تا بعد از تحویل پروژه اعتبار سایت ها رو افزایش بدم</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    TimeLine End   -->
                        <!--  Skill Start  -->
                        <div class="row mt-5">
                            <div class="col-lg-12 mb-3 resume-title">
                                <h3 class="text-dark text-center"><span class="base-color">مهارت های</span> من</h3>
                                <div class="border-style"></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="skill-boxes box-border">
                                    <div class="row">
                                        <!-- Skill -->
                                        <div class="col-lg-6">
                                            <div class="skill-box">
                                                <div class="skillbar clearfix" data-percent="75%">
                                                    <div class="skillbar-title"><span>Python</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">75%</div>
                                                </div>
                                                <div class="skillbar clearfix " data-percent="85%">
                                                    <div class="skillbar-title"><span>Django</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">80%</div>
                                                </div>
                                                <div class="skillbar clearfix" data-percent="90%">
                                                    <div class="skillbar-title"><span>DRF (Django Rest Framework)</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">90%</div>
                                                </div>
                                                <div class="skillbar clearfix" data-percent="70%">
                                                    <div class="skillbar-title"><span>SEO</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">70%</div>
                                                </div>
                                                <div class="skillbar clearfix" data-percent="90%">
                                                    <div class="skillbar-title"><span>GIT</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">90%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="skill-box">
                                                <div class="skillbar clearfix " data-percent="85%">
                                                    <div class="skillbar-title"><span>Django Celery</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">85%</div>
                                                </div>
                                                <div class="skillbar clearfix" data-percent="95%">
                                                    <div class="skillbar-title"><span>HTML</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">95%</div>
                                                </div>
                                                <div class="skillbar clearfix" data-percent="70%">
                                                    <div class="skillbar-title"><span>CSS</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">70%</div>
                                                </div>
                                                <div class="skillbar clearfix" data-percent="70%">
                                                    <div class="skillbar-title"><span>PostgreSQL</span></div>
                                                    <div class="skillbar-bar fill-skillbar"></div>
                                                    <div class="skill-bar-percent">70%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--   Skill End   -->
                    </div>
                </div>
            </div>
        </section>
        <!--     Resume End    -->

        <!--  Service Start  -->
        <section id="services" class="section pp-scrollable services" data-navigation-tooltip="خدمات">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>خدمات من</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">خدمات من</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Item 01 -->
                            <div class="col-lg-4 text-center text-md-start">
                                <div class="services-item box-hover-border">
                                    <div class="text-center p-4">
                                        <i class="lni-code size-md base-color"></i>
                                        <h5 class="text-dark">توسعه</h5>
                                        <p class="text-muted mb-0">جمع‌آوری، ذخیره‌سازی، و پردازش داده‌های وبسایت را بر عهده دارم که این داده‌ها ممکن است شامل اطلاعات مربوط به کاربران، رفتار کاربران، عملکرد وبسایت، و سایر جنبه‌های مرتبط با آن باشد.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 02 -->
                            <div class="col-lg-4 text-center text-md-start">
                                <div class="services-item box-hover-border">
                                    <div class="text-center p-4">
                                        <i class="lni-brush-alt size-md base-color"></i>
                                        <h5 class="text-dark">طراحی</h5>
                                        <p class="text-muted mb-0">طراحی رابط کاربردی برای وب‌سایت‌ها، بهبود تعامل کاربر با سایت در تمام مرورگرها، تست قابلیت‌های مختلف سایت و رفع هر گونه اشکال</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 03 -->
                            <div class="col-lg-4 text-center text-md-start">
                                <div class="services-item box-hover-border">
                                    <div class="text-center p-4">
                                        <i class="lni-seo-monitoring size-md base-color"></i>
                                        <h5 class="text-dark">SEO</h5>
                                        <p class="text-muted mb-0">با بهبود رتبه وب‌سایت در نتایج جستجو، سایت شما دارای نمایش، دسترسی و اعتبار بیشتری خواهد شد. همچنین سئو می‌تواند تاثیر قابل توجهی بر حضور و موفقیت آنلاین یک کسب‌وکار یا سازمان داشته باشد.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 04 -->
                            <div class="col-lg-4 text-center text-md-lef">
                                <div class="services-item box-hover-border">
                                    <div class="text-center p-4">
                                        <i class="lni-support size-md base-color"></i>
                                        <h5 class="text-dark">پشتیبانی فنی</h5>
                                        <p class="text-muted mb-0">تا 6 ماه بعد از تحویل پروژه هرگونه مشکل فنی مشاهده شود به صورت رایگان پشتیبانی انجام میشود</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--   Service End   -->

        <!-- Portfolio Start -->
        <section id="portfolio" class="section pp-scrollable portfolio" data-navigation-tooltip="نمونه کارها">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>نمونه کارها</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">نمونه کارها</h2>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-items row">
                            {% for portfolio in portfolios %}
                            <!-- Item 01 -->
                                <div class="col-lg-4 portfolio-item seo">
                                    <div class="image-border">
                                        <div class="portfolio-item-content">
                                            <img src="{{ portfolio.portfolio_images.first.image.url }}" alt="{{ portfolio.portfolio_images.first.title }}" class="img-fluid">
                                            <div class="img-overlay text-center">
                                                <div class="img-overlay-content">
                                                    <div class="portfolio-icon">
                                                        <a href="{% url 'weblog:portfolio_detail' portfolio.id %}" type="button"><i class="lni-link" ></i></a>
                                                        <a href="{{ portfolio.portfolio_images.first.image.url }}" class="js-zoom-gallery">
                                                            <i class="lni-search"></i>
                                                        </a>
                                                    </div>
                                                    <h5 class="mt-3 mb-0">{{ portfolio.title }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 text-center pt-2">
                                <div class="button-border d-inline-block">
                                    <a href="{% url 'weblog:portfolio_list' %}" class="pill-button">صفحه نمونه کارها</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Portfolio End  -->

        <!--  Blog Start  -->
        <section id="blog" class="section pp-scrollable blog" data-navigation-tooltip="بلاگ">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>نوشته های اخیر</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">نوشته های اخیر</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--  Item 01 -->
                            {% for blog in blogs %}
                            <div class="col-lg-4">
                                <div class="blog-item box-border">
                                    <div class="blog-image">
                                        <div class="blog-intro">
                                            <img src="{{ blog.blog_images.first.image.url }}" alt="{{ blog.blog_images.first.image.title }}">
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="list-inline mt-4">
                                            <li class="list-inline-item">
                                                <i class="lni-calendar base-color"></i>
                                                <span class="text-muted">{{ blog.created | jformat:'%Y/%m/%d'}}</span>
                                            </li>
                                        </ul>
                                        <h6 class="mb-3"><a class="text-dark" href="{% url 'weblog:blog_detail' blog.id %}" target="_blank">{{ blog.title }}</a></h6>
                                        <p class="text-dark">{{ blog.description | truncatewords:20 }}</p>
                                        <div class="blog-link">
                                            <a class="base-color" href="{% url 'weblog:blog_detail' blog.id %}" target="_blank">ادامه مطلب...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="button-border">
                                    <a href="{% url 'weblog:blog_list' %}" class="pill-button">مشاهده بیشتر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--   Blog End   -->

        <!-- Contact Start -->
        <section id="contact" class="section pp-scrollable contact" data-navigation-tooltip="تماس با من">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>ارتباط با من</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">ارتباط با من</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row contact-info">
                            <div class="col-lg-4">
                                <div class="contact-info-text text-center">
                                    <div class="base-color">
                                        <i class="lni-phone-handset size-md"></i>
                                    </div>
                                    <div class="mt-3">
                                        <h5 class="text-dark mb-0">تلفن تماس</h5>
                                        <small class="text-muted">09214018144</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="contact-info-text text-center">
                                    <div class="base-color">
                                        <i class="lni-pointer size-md"></i>
                                    </div>
                                    <div class="mt-3">
                                         <h5 class="text-dark mb-0">ایمیل من</h5>
                                        <small class="text-muted">mobin04dev@gmail.com</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-5 contact-form">
                                <form method="post" class="contactForm">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6 form-item">
                                            <div class="input-group mb-3">
                                                <input name="name" id="name" type="text" class="form-control" placeholder="نام*" required >
                                            </div>
                                        </div>
                                        <div class="col-lg-6 form-item">
                                            <div class="input-group mb-3">
                                                <input name="email" id="email" type="email" class="form-control" placeholder="ایمیل*" required >
                                            </div>
                                        </div>
                                        <div class="col-12 form-item">
                                            <div class="input-group mb-3">
                                                <input name="subject" id="subject" type="text" class="form-control" placeholder="موضوع*" required >
                                            </div>
                                        </div>
                                        <div class="col-12 form-item">
                                            <div class="input-group mb-3">
                                                <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="متن پیام..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-4 text-start position-relative">
                                            <div class="button-border">
{#                                                <a href="javascript:void(0)" class="pill-button" id="submit-btn" onclick="sendEmail()">ارسال پیام</a>#}
{#                                                <input type="submit" value="ارسال پیام" class="btn btn-warning" id="submit-btn">#}
                                                  <button class="pill-button" id="submit-btn">ارسال پیام</button>
                                            </div>
                                            <div id="message" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000" >
                                                <div class="toast-body d-inline-block"></div>
                                                <button type="button" class="btn-close btn-close-white pt-4 pe-3" data-bs-dismiss="toast" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row copy-right">
                            <div class="col-12 text-center text-dark">
                                <p>حق نشر محفوظ است. طراحی قالب توسط <span class="base-color">مبین عباسی</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Contact End  -->

    </div>

    <!--  JavaScripts  -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--  Bootstrap Js  -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!--  Page Pilling Js  -->
    <script src="{% static 'js/pagePiling.js' %}"></script>
    <!--  Easing Js  -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!--  CountTo Js  -->
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <!--  Typed Js  -->
    <script src="{% static 'js/typed.js' %}"></script>
    <!--  Magnific Popup Js  -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!--  Isotope Js  -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!--  Owl Carousel Js  -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!--  Particle Js  -->
    <script src="{% static 'js/particles.min.js' %}"></script>
    <!--  Particle App Js  -->
    <script src="{% static 'js/particles.app.js' %}"></script>
    <!--  Custom JS  -->
    <script src="{% static 'js/arshia-rtl.js' %}"></script>

{% endblock %}