{% extends 'parent/base.html' %}
{% load static %}
{% block title %}نمونه کار ها{% endblock %}
{% block content %}

    <!--  Pre Loader  -->
    <div id="overlayer"></div>
    <span class="loader"></span>

    <div id="pagepiling" class="pilling-page">

        <!-- Portfolio Start -->
        <section id="portfolio" class="section pp-scrollable portfolio portfolio-page" data-navigation-tooltip="نمونه کارها">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="title-wrapper">
                                    <span>نمونه کارها</span>
                                </div>
                                <div class="title-content">
                                    <h2 class="base-color">نمونه کارها</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--   Portfolio Filters   -->
                            <ul id="portfolio-filter" class="list-unstyled list-inline mb-0 col-lg-12 text-center portfolio-filter">
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter="*" class="pill-button active">همه</a>
                                </li>
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter=".webdesign" class="pill-button">طراحی سایت</a>
                                </li>
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter=".mobiledesign" class="pill-button">طراحی لوگو</a>
                                </li>
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter=".seo" class="pill-button">سئو</a>
                                </li>
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter=".graphic" class="pill-button">گرافیک</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portfolio-items row">
                            <!-- Item 01 -->
                            <div class="col-lg-4 portfolio-item seo">
                                <div class="image-border">
                                    <div class="portfolio-item-content">
                                        <img src="assets/img/portfolio-10.jpg" alt="/" class="img-fluid">
                                        <div class="img-overlay text-center">
                                            <div class="img-overlay-content">
                                                <div class="portfolio-icon">
                                                    <a href="portfolio-single-rtl.html"><i class="lni-link"></i></a>
                                                    <a href="assets/img/portfolio-10.jpg" class="js-zoom-gallery">
                                                        <i class="lni-search"></i>
                                                    </a>
                                                </div>
                                                <h5 class="mt-3 mb-0">کار من</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Portfolio End  -->

    </div>

    <!--  JavaScripts  -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--  Bootstrap Js  -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!--  Page Pilling Js  -->
    <script src="{% static 'js/pagePiling.js' %}"></script>
    <!--  Easing Js  -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!--  CountTo Js  -->
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <!--  Typed Js  -->
    <script src="{% static 'js/typed.js' %}"></script>
    <!--  Magnific Popup Js  -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!--  Isotope Js  -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!--  Owl Carousel Js  -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!--  Custom JS  -->
    <script src="{% static 'js/arshia-rtl.js' %}"></script>

{% endblock %}